body{
    font-family: 'Montserrat', sans-serif;
    background-color: white;
    padding: 0;
    padding-left: 24px;
    padding-right: 24px;
}
.todo{

    margin: 0 auto;
}
/* BARRA DE NAVEGACION */
.barra-navegacion{
    display: flex;
    gap: 10px;
    align-items: center;
    height: 70px;
    width: 100%;
    margin: 0 auto;
    border-radius: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    max-width: 1600px;
    min-width: 487px;
    /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
}
/* .titulo{
    margin-right: auto;
    font-size: 40px;
    padding-left: 10px;
    text-decoration: none;
    color: black;
} */
.caja{
    padding: 7px;
    margin-top: 2px;
    font-size: 20px;
    margin-right: 10px;
    text-decoration: none;
    color: black;
    text-align: center;
    transition: 0.2s;
    border-bottom: 1px solid white;
}
.caja:hover {
    transform: scale(1.2);
    border-bottom: 1px solid black;
}
/* ---------------------------------------------------------------------------------------------- */

/* SECCIONES */
.flex-central{
    display: flex;
    margin: 0 auto;
    gap: 10px;
    flex-wrap: wrap;
    row-gap: 30px;
    margin-bottom: 30px;
    max-width: 1600px;
    min-width: 463px;
}
.flex2{
    width: 100%;
    border-radius: 10px;
    height: 400px;
    background-image: linear-gradient(to right bottom, #bc00ff, #4c76ff, #00a1ff, #00beff, #06d4ff);
    background-size: 100%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.flex2.json{
    background-image: linear-gradient(to bottom, #490376, #67088a, #860d9e, #a713b0, #c917c2);
    height: 100%;
}
.flex2.json.j{
    background-image: linear-gradient(to bottom, #102544, #164a71, #10749d, #00a0c6, #12cfeb);
}
.flex2.json.j.c{
    background-image: linear-gradient(to bottom, #053707, #346111, #6a8d16, #abb918, #f6e320);
    
}
.flex3{
    width: 100%;
    display: flex;
    border-radius: 10px;
    gap: 40px;
}
.cajota{
    display: flex;
    flex-direction: column;
    width: 20%;
    gap: 40px;
}
.flex3 a{
    text-decoration: none;
}
.textito{
    display: flex;
    color: white;
    font-size: 70px;
    padding: 40px;
}
.elemento{
    border-radius: 10px;
    /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
    transition: 0.2s;
}

.elemento.a{
    color: white;
    font-size: 50px;
    background-size: 100%;
    padding: 40px;
}
#j{
    background-image: linear-gradient(to right top, #bc00ff, #4c76ff, #00a1ff, #00beff, #06d4ff);
}
#j:hover{
    scale: 1.04;
}
.elemento.b{
    color: black;
    font-size: 50px;
    background-size: 100%;
    padding: 40px;
    text-align: justify;
}

#b{
    background-color: white;
}
.elemento.b.json{
    width: 80%;
    background-color: white;
    text-align: justify;
}
.elemento.b.json.j{
    background-color: white;
    text-align: justify;
}
.elemento.c{
    color: white;
    display: flex;
    background-image: linear-gradient(to left top, #bc00ff, #4c76ff, #00a1ff, #00beff, #06d4ff);
    width: 40%;
    padding: 40px;
}
.elemento.c:hover{
    scale: 1.04;
}

footer{
   position:static;
   bottom:0;
   left: 0;
   right: 0;
   width:100%;
   text-align: center;
}

.flex-cajas{
    display: flex;
    flex-direction: column;
    gap: 5px;
    text-align: center;
    padding: 4px;
    font-size: 40px;
}
.flex-cajita{
    border-radius: 10px;
    color: black;
    font-size: 20px;
    transition: 0.2s;
    text-align: left;
    padding: 4px;
}
.flex-cajita:hover{
    scale: 1.04;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color: #00beff;
    color: white;
}
#indexb{
    color: white;
    background-image: linear-gradient(to right bottom, #06d4ff, #04bee4, #04a8c9, #0493af, #047e96);
}
#indexc{
    color: white;
    background-image: linear-gradient(to right bottom, #06d4ff, #04bee4, #04a8c9, #0493af, #047e96);
}
#indexb:hover{
    scale: 1.04;
}
.flex-cajita.a:hover{
    scale: 1.04;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color: #860d9e;
    color: white;
}
.row{
    margin-top:10px; 
    margin-bottom:10px;
    border-radius: 10px;
    transition: 0.2s;
}
.row.a{
    font-size: 40px;
    border: 0px solid black; 
    text-align: left;
}
.row.b a{
    border-radius: 10px;
    color: black;
    font-size: 20px;
    transition: 0.2s;
    text-align: left;
    padding: 4px;
    text-decoration: none;
}
.row.b:hover{
    scale: 1.04;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color: #00beff;
    color: white;
    scale: 1.04;
}
.row.b a:hover{
    color: white;
}
.row.b.k:hover{
    background-color: #860d9e;
}
.row.b.l:hover{
    background-color:brown;
}
.container{
    color:black; 
    font-size: 20px;
}
#kiko{
    text-align: center;
}
.formulario{
    font-size: 30px;
}
.formulario input[type=text]{
    font-size: 30px;
    border: 0px solid white;
    border-bottom: 2px solid black;
    transition: 0.3s;
}
.formulario{
    margin: 0 auto;
    padding: 30px;
    border-radius: 10px;
}
.formulario input[type=email]{
    font-size: 30px;
    border: 0px solid white;
    border-bottom: 2px solid black;
    transition: 0.2s;
}
.formulario textarea{
    font-size: 30px;
    border: 0px solid white;
    border-bottom: 2px solid black;
    transition: 0.2s;
}
.formulario input[type=submit]{
    font-size: 30px;
    border: 0px solid white;
    border-bottom: 2px solid black;
    background-color: white;
    transition: 0.2s;
}
.formulario input[type=submit]:hover{
    font-size: 30px;
    border: 0px solid white;
    background-color: black;
    color: white;
    transition: 0.2s;
}
.formulario input:invalid{
    color: red;
}
.formulario input:valid{
    color: black;
}
input:focus{
    outline: none;
    scale: 1.04;
}
textarea:focus{
    outline: none;
    scale: 1.04;
}
@media screen and (max-width: 1426px){
    .flex3{
        flex-direction: column;
    }
    .cajota{
        flex-direction: row;
        width: 100%;
    }
    .elemento.b.json{
        width: 100%;
    }
    .elemento.a.json.j{
        width: 50%;
    }
    .elemento.c{
        width: 100%;
    }
}
@media screen and (max-width: 755px){
    .flex-cajas{
        font-size: 35px;
    }
    .row.a{
        font-size: 30px;
    }
}
@media screen and (max-width: 660px){
    .flex-cajas{
        font-size: 35px;
    }
    .row.a{
        font-size: 25px;
    }
}
@media screen and (max-width: 571px){
    .row.a{
        border-bottom: 2px solid black;
        font-size: 100%;
    }
}